.overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #00000080;
  z-index: 11;
  top: 0;
  left: 0;
  display: none;
}


.popup{
  width: 400px;
  background-color: white;
  position: absolute;
  top: 50%;  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  &__close{
    position: absolute;
    top: 10px;
    right: -35px;
    font-size: 30px;
    cursor: pointer;
  }
  &__login, &__register {
    align-items: center;
    padding: 40px 30px;
    display: none;
    width: 100%;
    &-form{
      margin: 30px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      align-items: center;
    }
    &-input{

     width: 100%;
      height: 40px;
      padding-left: 10px;

     border: 1px solid $black;
      outline: none;
    }
    &-btn{
      width: 150px;
      height: 52px;
    }
  }
}

