.students {
  background: #F4F5F7;
  padding-bottom: 100px;
  text-align: center;

  &__content {
    margin-top: 60px;
    position: relative;

    &-slide {
      margin: 0 auto;
      width: calc(100% - 210px);
      background: #ffffff;
      box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
      border-radius: 4px;
      padding: 64px 105px 64px 163px;
      text-align: left;
    }

    &-img {
      width: 72px;
      height: 72px;
    }

    &-info {
      display: flex;
      column-gap: 20px;
      align-items: center;

    }

    &-name {
      font-weight: bold;
      font-size: 16px;
      line-height: 160%;
      color: #1E212C;
    }

    &-prof {
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #787A80;
      margin-top: 4px;
    }
    &-text {
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      color: #424551;
      margin-bottom: 24px;
      position: relative;

      &::before {
        content: url("../images/students/braces.svg");
        position: absolute;
        top: 0;
        left: -58px;
      }
    }
  }

  &__arrow_prev {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 0 !important;
    border-radius: 50% !important;
    color: white !important;
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: .3s !important;

    &:hover {
      background: #FF3F3A !important;
      transition: .3s !important;

      svg path {
        fill: white !important;
      }
    }
  }

  &__arrow_next {
    position: absolute !important;
    top: 50% !important;
    transform: translateX(-50%) !important;
    right: 0 !important;
    border-radius: 50% !important;
    color: white !important;
    width: 50px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: .3s !important;

    &:hover {
      background: #FF3F3A !important;
      transition: .3s !important;

      svg path {
        fill: white !important;
      }
    }
  }
}